@import "@/styles/colors";

.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba($body-color, 0.5);
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 20px;
  transition: 0.3s all ease-in-out;
  width: 155.2px;
  position: relative;
  height: 42px;
  svg {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: $body-color;
    position: absolute;
    right: -14px;
    left: auto;
    transition: 0.3s all ease-in-out;
  }
  span {
    display: inline-block;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
    color: $body-color;
    position: absolute;
    top: 50%;
    right: auto;
    left: 0;
    white-space: nowrap;
    transform: translate(14px, -50%);
  }
  &:hover {
    @include glassyEffect();
    svg {
      box-shadow: 0 0 20px rgba($primary, 0.4);
    }
  }
  .btn {
    margin: 0 auto;
  }
}
