@import "@/styles/colors";

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	.container {
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}
	.logo {
		display: flex;
		align-items: center;
		margin-right: 30px;
		.titleLogo {
			font-size: 30px;
			letter-spacing: -1px;
			margin-left: 15px;
		}
	}
	.leftSide {
		display: flex;
		align-items: center;
	}
	.rightSide {
		position: relative;
		.email {
			display: flex;
			align-items: flex-end;
			cursor: pointer;
			.user {
				display: flex;
				align-items: center;
				span {
					margin: 0 10px;
				}
			}
			.dropdown {
				width: 15px;
				height: auto;
			}
		}
		.logout {
			background: transparent;
			display: flex;
			align-items: center;
			border: none;
			border-radius: 50px;
			color: $body-color;
			cursor: pointer;
			font-size: 14px;
			svg {
				width: 15px;
				margin-right: 10px;
			}
		}
		.listDropdown {
			position: absolute;
			right: 0;
			bottom: -50px;
			width: 100%;
			@include glassyEffect();
			padding: 10px;
			display: flex;
			flex-direction: column;
			color: $body-color;
			font-size: 14px;
			border-radius: 6px;
			border: 1px solid rgba($body-color, 0.2);
		}
	}
	a {
		transition: 0.3s all ease-in-out;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&:hover,
		&.active {
			color: $primary;
		}
	}
}
